body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;

  & .primary {
    background-color: var(--primary);
  }

  & .secondary {
    background-color: var(--secondary);
  }
}
